body {
    background-color: #ccc;
    margin-top: 7em;
}
.shadowed {
    box-shadow: 0px 2px 5px #333;
}
#logincontainer {
    text-align: center;
    background-color:#eee;
    padding: 10px;
}
.headertext {
    margin-top: .2em;
    margin-bottom: .2em;
    font-family: MrJeeves;
    font-weight: 800;
    color: #58180D
}
.panel-heading {
    font-size: .529cm;
    border-bottom: 2px solid #c9ad6a
}
.pagination {
    list-style-type: none !important;
}