.bodyText {
    font-family: 'Pangolin', cursive;
}
body {
    background-color: #ccc;
}
.headerText {
    /*font-family: 'Bahiana', cursive;*/
    font-family: 'Pangolin', cursive;
    font-size: 18px;
    font-weight: normal;
}
.shadowed, .panel {
    box-shadow: 0px 5px 10px #222;
}
#logincontainer {
    text-align: center;
    background-color:#eee;
    padding: 10px;
}