{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading headerText">Campaigns</div>
    <div class="panel-body bodyText">
        <p>A list of campaigns you are a member of.</p>
    </div>
    <div class="panel-body">
        <table class='table table-striped datatable'>
            <thead>
                <tr>
                    <th class='headerText'>Name</th>
                    <th class='headerText'>Members</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in campaigns %}
                    <tr>
                            <td class='bodyText'><a href="{% url 'selectcampaign' campaign.id %}">{{ campaign.name }}</a></td>
                            <td class='bodyText'>
                                {% for user in campaign.users.all %}
                                    {{ user.username }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

