{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading headerText">
        Characters
        <span class="pull-right"><a href="{% url 'character_create' %}"><button type="button" class="btn btn-success">New</button></a></span>
    </div>
    <div class="panel-body bodyText">
        <p>A listing of all characters we've met, NPC or otherwise.</p>
    </div>
    <div class="panel-body">
        <table class='table table-striped datatable'>
            <thead>
                <tr>
                    <th class='headerText'>Name</th>
                    <th class='headerText'>Title</th>
                    <th class='headerText'>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for character in characters %}
                    <tr>
                        <td class='bodyText'><a href="{% url 'character' character.id %}">{{ character.name }}</a></td>
                        <td class='bodyText'>{{ character.title }}</td>
                        <td class='bodyText'>
                            {% if character.location %}
                                <a href="{% url 'location' character.location.id %}">{{ character.location.name }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
