{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-md-7'>
        <div class="panel panel-default">
            <h3>
                {% if character %}
                    {{ character.name }}
                {% else %}
                    New Character
                {% endif %}
            </h3>
            <div class="panel-body">
                <form method="POST" class="post-form">{% csrf_token %}
                    <table>
                        {{ form }}
                    </table>
                    <button type="submit" class="save btn btn-default">Save</button>
                    <button type="submit" name="delete" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {% if character %}
    <div class='col-md-5'>
        <div class="panel panel-default">
            <h3>
                Character Tasks
                
                <span class="pull-right"><a href="{% url 'character_task_create' character_id=character.id %}"><i class="fa fa-plus-square" title="New"></i></a></span>    
                
            </h3>
                <table class='table table-striped table-hover datatable-simple'>
                    <thead>
                        <tr>
                            <th class='headerText'>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td class='bodyText'><a href="{% url 'task' task.id %}">{{ task.name }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
