{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading headerText">Characters</div>
    <div class="panel-body bodyText">
        <p>A listing of all characters we've met, NPC or otherwise.</p>
    </div>
    <div class="panel-body">
        <table class='table table-striped datatable'>
            <thead>
                <tr>
                    <th class='headerText'>Name</th>
                    <th class='headerText'>Title</th>
                    <th class='headerText'>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for character in characters %}
                    <tr>
                        <td class='bodyText'>{{ character.name }}</td>
                        <td class='bodyText'>{{ character.title }}</td>
                        <td class='bodyText'>{{ character.location.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
