{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading headerText">
        Locations
        <span class="pull-right"><a class="h6 text-success" href="{% url 'character_create' %}">New</a></span>
    </div>
    <div class="panel-body bodyText">
        <p>A listing of all places we've been or know of. In this case a Location can be a country,
        or a city, or a village, or even just a store. Locations are generic and can be assigned as
        being a part of another Location. I might flesh this out later..</p>
    </div>
    <div class="panel-body">
        <table class='table table-striped datatable'>
            <thead>
                <tr>
                    <th class='headerText'>Name</th>
                    <th class='headerText'>Type</th>
                    <th class='headerText'>Part Of</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                    <tr>
                        <td class='bodyText'><a href="{% url 'location' location.id %}">{{ location.name }}</a></td>
                        <td class='bodyText'>
                            {% if location.location_type %}{{ location.location_type }}{% endif %}
                        </td>
                        <td class='bodyText'>
                            {% if location.parent %}
                                <a href="{% url 'location' location.parent.id %}">{{ location.parent }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
