{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class='row'>
    <div class='col-md-4'>
        <div class="panel panel-default">
            <div class="panel-heading headerText">Recent Characters<span class="pull-right"><a href="{% url 'character_create' %}"><button type="button" class="btn btn-success">New</button></a></span></div>
            <div class="panel-body">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                            <th class='headerText'>Name</th>
                            <th class='headerText'>Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for character in recent_characters %}
                            <tr>
                                <td class='bodyText'><a href="{% url 'character' character.id %}">{{ character.name }}</a></td>
                                <td class='bodyText'>{{ character.title }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class="panel panel-default">
            <div class="panel-heading headerText">Recent Locations<span class="pull-right"><a href="{% url 'location_create' %}"><button type="button" class="btn btn-success">New</button></a></span></div>
            <div class="panel-body">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                            <th class='headerText'>Name</th>
                            <th class='headerText'>Part Of</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for location in recent_locations %}
                            <tr>
                                <td class='bodyText'><a href="{% url 'location' location.id %}">{{ location.name }}</a></td>
                                <td class='bodyText'>{% if location.parent %}{{ location.parent }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class="panel panel-default">
            <div class="panel-heading headerText">Recent Tasks<span class="pull-right"><a href="{% url 'task_create' %}"><button type="button" class="btn btn-success">New</button></a></span></div>
            <div class="panel-body">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                            <th class='headerText'>Name</th>
                            <th class='headerText'>From</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in recent_tasks %}
                            <tr>
                                <td class='bodyText'><a {% if task.completed %} style="text-decoration: line-through;" {% endif %} href="{% url 'task' task.id %}">{{ task.name }}</a></td>
                                <td class='bodyText'>{{ task.giver }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class='col-md-4'>
        <div class="panel panel-default">
            <div class="panel-heading headerText">Recent Items<span class="pull-right"><a href="{% url 'item_create' %}"><button type="button" class="btn btn-success">New</button></a></span></div>
            <div class="panel-body">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                            <th class='headerText'>Name</th>
                            <th class='headerText'>Quantitiy</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in recent_items %}
                            <tr>
                                <td class='bodyText'><a href="{% url 'item_detail' item.id %}">{{ item.name }}</a></td>
                                <td class='bodyText'>{{ item.quantity }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class="panel panel-default">
            <div class="panel-heading headerText">Members<span class="pull-right"><a href="{% url 'invite' campaign.id %}"><button type="button" class="btn btn-success">Invite</button></a></span></div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for user in campaign.users.all %}
                        {{ user.username }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
