{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="panel panel-default">
    <h3>
        Tasks
        <span class="pull-right"><a class="" href="{% url 'task_create' %}"><i class="fa fa-plus-square" title="New"></i></a></span>
    </h3>
    <div class="panel-body bodyText">
        <p>A listing of tasks you've been given, where, and from whom.</p>
    </div>
    <div class="panel-body">
        <table class='table table-striped table-hover datatable'>
            <thead>
                <tr>
                    <th class='headerText'>Name</th>
                    <th class='headerText'>From</th>
                    <th class='headerText'>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td class='bodyText'><a {% if task.completed %} style="text-decoration: line-through;" {% endif %} href="{% url 'task' task.id %}">{{ task.name }}</a></td>
                        <td class='bodyText'>
                            {% if task.giver %}
                                <a href="{% url 'character' task.giver.id %}">{{ task.giver.name }}
                            {% endif %}
                        </td>
                        <td class='bodyText'>
                            {% if task.location %}
                                <a href="{% url 'location' task.location.id %}">{{ task.location.name }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
