{% extends "base.html" %}

{% block sidebar %}
{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-warning" role="alert">Login error, please try again.</div>
{% endif %}

    <div class="row">
        <div class="col-md-6 col-md-offset-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">DnDB Login</h3>
                </div>
                <div class="panel-body">
                    {% if next %}
                        <div class="alert alert-warning" role="alert">You must login to see this page.</div>
                    {% endif %}
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group pt-1">
                            <div class="input-group">
                                <div class="input-group-addon">Email</div>
                                <input type="text" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">Password</div>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group pull-left">
                                <a class="btn btn-secondary" href="{% url 'register' %}">Register</a>
                            </div>
                            <div class="form-group pull-right">
                                <input class="btn btn-primary" type="submit" value="login" />
                            </div>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                
                </div>
            </div>
        </div>
    </div>

{% endblock %}