{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>DNDB - Home</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.13/r-2.1.0/datatables.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Bahiana|Pangolin" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.13/r-2.1.0/datatables.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand headerText" href="/"><span class="glyphicon glyphicon-book"></span> DnDB: Dungeons and Databases</a>
    <ul class="nav navbar-nav">
        <li>
            {% if user.is_authenticated %}
            <a href="{% url 'campaigns' %}"><span class="glyphicon glyphicon-globe"></span>
                {% if request.session.campaign %}
                    {{ request.session.campaign }}
                {% else %}
                    Campaigns
                {% endif %}
            </a>
            {% endif %}
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-cog"></span> {{ user.username|capfirst }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/logout">Logout</a></li>
            <li><a href="/admin">Admin</a></li>
          </ul>
        </li>
    {% else %}
        <li>
            <a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span> Login</a>
        </li>
    {% endif %}
    </ul>
  </div>
</nav>
<div class='container-fluid'>
    <div class='row'>
        {% block sidebar %}
        <!-- Sidebar -->
        <div class='col-md-2'>
            <div class="panel panel-default">
                <div class="panel-heading headerText">Menu</div>
                <div class="panel-body bodyText">
                <ul class="nav nav-pills nav-stacked">
                    {% if request.session.campaign %}
                        <li>
                            <a href="{% url 'characters' request.session.campaign_id %}"><span class="glyphicon glyphicon-user"></span> Characters</a>
                        </li>
                        
                        <li>
                            <a href="{% url 'locations' request.session.campaign_id %}"><span class="glyphicon glyphicon-map-marker"></span> Locations</a>
                        </li>
                    {% else %}
                        <li>
                            Select a Campaign from the top bar.
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
        <!-- Content -->
        <div class='col-md-10'>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
