{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    
    <div class="jumbotron">
      <h1>Welcome!</h1>
      <p>Ulitmate goals of this site, allowing automatic user registration, users to 
      create their own campaigns, characters, locations, etc.</p>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading headerText">Latest Happenings</div>
            <ul class="list-group">
              <li class="list-group-item">Password changes</li>
              <li class="list-group-item">User Profile (edit)</li>
              <li class="list-group-item">Party loot editable</li>
            </ul>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading headerText">Next Up</div>
            <ul class="list-group">
                <li class="list-group-item">User registration</li>
              <li class="list-group-item">Users own campaigns</li>
              <li class="list-group-item">create campaigns</li>
              <li class="list-group-item">invite users</li>
              <li class="list-group-item">user permissions?</li>
            </ul>
    </div>
    
    
{% endblock %}
