{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    
    <div class="jumbotron">
      <h1>Welcome!</h1>
      <p>Ulitmate goals of this site, allowing automatic user registration, users to 
      create their own campaigns, characters, locations, etc.</p>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading headerText">Recently Completed</div>
            <ul class="list-group">
            {% for c in completed %}
                <li class="list-group-item">{{ c.name }}</li>
            {% endfor %}
            </ul>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading headerText">Next Up</div>
            <ul class="list-group">
            {% for t in tasks %}
                <li class="list-group-item">{{ t.name }}</li>
            {% endfor %}
            </ul>
    </div>
    
    
{% endblock %}
