{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading headerText">{{ title }}</div>
    <div class="panel-body bodyText">
        <p>{{ description }}</p>
    </div>
    <div class="panel-body">
        <table class='table table-striped datatable'>
            <thead>
                <tr>
                    {% for key in object_keys %}
                        <th class='headerText'>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for object in object_values %}
                    <tr>
                        {% for value in object %}
                        <td class='bodyText'>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
